---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
const { pathname } = Astro.url;

const listItemClassName = "flex justify-center flex-col";
const paths = [
  {
    address: "/",
    title: "Home",
    class: listItemClassName,
    show: true
  },
  {
    address: "/about",
    title: "About",
    class: listItemClassName,
    show: true
  },
  {
    address: "/xperience",
    title: "Xperience",
    class: listItemClassName,
    show: true
  },
  {
    address: "/contact",
    title: "Contact",
    class: listItemClassName,
    show: true
  },
  // {
  //   address: "/blog",
  //   title: "Blog",
  //   class: listItemClassName,
  //   show: true
  // },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback='swap'/>
  </head>
  <body class="p-4 font-mono bg-gradient-to-l from-emerald-500  to-blue-700  flex flex-col items-center">
    <header class="w-3/4 h-full">
      <nav
        class="lg:w-full lg:h-12  lg:flex lg:justify-center"
      >
        <ul class="flex flex-col lg:flex-row lg:justify-evenly  lg:items-end  lg:w-1/2 lg:h-full ">
          {
            paths.map((path) => {
              return (
               <li class=`${path.class} ${pathname === path.address ? "active" : ""} `>
                  <a href=`${path.address}`>
                  {pathname === path.address ? "🌏 " : ""}
                  {path.title} 
                  </a>
                </li>
               )
            })
          }
        </ul>
      </nav>
    </header>
    <main class="lg:w-3/4  mt-10 bg-gradient-to-r from-blue-900">
      <slot />
    </main>
    <button class="rounded-full bg-emerald-500 w-36 h-14 text-white hover:border-emerald-500 active:bg-emerald-500 font-serif">CV</button>
    </body>
</html>
<style is:global>
  body{
    position: relative;
  }
  


  li {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.3rem;
    height: 25px;
    padding: 15px;
    text-align: center;
  }
 
  li.active {
    background-color: rgba(151, 188, 243, 0.698);
    border-radius: 12px;
  }

  main {
    height: 85vh;
    border-radius: 20% 12px 20% 12px;
  }

  button {
    position: absolute;
    bottom: 0;
    transition: .2s ease;
  }

  footer {
    height: 30px;
    background-color: black;
    width: 100%;
    color:white;
    bottom: 0;
    position: absolute;
  }
  @media (max-width: 500px) {
    main {
      border-radius:0;
    }

    button {
      bottom: 4rem;
    }
  }
 </style>
